body {
  text-align: center;
  font-family: sans-serif;
}

.form_input {
  font-size: 12pt;
  padding: 0.4em;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #c4c4c4;
}

form div {
  margin-bottom: 1em;
}